@model ProjectX.Models.Users

@{
    ViewBag.Title = "Reset Password";
}

<div class="container" style="padding-top:5%;">
    <div class="row" id="pwd-container">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            @using (Html.BeginForm("ForgotPassword", "Users", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <h1 class="text-info">Reset Password</h1>
                <p class="text-primary">Please fill User Name or Email Id to reset password.</p>
                    <hr>
                    <label for="username"><b>User Name</b></label>
                    @Html.EditorFor(c => c.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "User Name", @style = "width:100%;" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })<br />

                    <label for="email"><b>Email</b></label>
                    @Html.EditorFor(c => c.EmailId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email Id", @style = "width:100%;" } })
                    @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })<br />

                    <div class="clearfix">
                        <button type="submit" style="width:100%;" class="btn btn-primary btn-lg glyphicon glyphicon-edit"> Submit</button>
                    </div>
            }
            <div class="col-md-4"></div>
        </div>
    </div>
</div>